{% extends "layout.html" %}

{% block content %}
    <h2>Поиск</h2>
    <form action="/search" method="POST" class="form-container">
        <div class="form-group">
            <label for="term">Запрос</label>
            <input type="text" id="term" name="term" required>

            <label for="sort">Сортировать поиск по:</label>
            <select id="sort" name="sort">
                <option value="relevance">Релевантность</option>
                <option value="date">Дата</option>
                <option value="author">Автор</option>
                <option value="journal">Название журнала</option>
            </select>

            <label for="max_results">Количество результатов:</label>
            <input type="number" id="max_results" name="max_results" min="1" required>

            <label for="field"> Поле для поиска:</label>
            <input type="text" id="field" name="field" required>
            <small>Введите поле для поиска, например, <strong>title</strong>, <strong>authors</strong>, или <strong>abstract</strong>.</small>

            <label for="n">Период публикации (в днях):</label>
            <input type="number" id="n" name="n" min="1" >

            <label>Даты публикации:</label>
            <label for="mindate">От:</label>
            <small>Возможные форматы: YYYY/MM/DD; YYYY; YYYY/MM</small>
            <input type="text" id="mindate" name="mindate">

            <label for="maxdate">До:</label>
            <small>Возможные форматы: YYYY/MM/DD; YYYY; YYYY/MM</small>
            <input type="text" id="maxdate" name="maxdate">

            <label for="as_sdt">Тип поиска</label>
            <select id="as_sdt" name="as_sdt" required>
                <option value="0.5">Статьи и патенты</option>
                <option value="0">Только статьи</option>
                <option value="1">Только патенты</option>
            </select>

            <label for="article_type">Тип статей</label>
            <select id="article_type" name="as_sdt">
                <option value="0">Все статьи</option>
                <option value="1">Обзорные статьи</option>
            </select>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-danger" style="font-weight: bold; margin-top: 20px">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 18 18">
            <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"></path>
            <path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"></path>
            </svg>
                Найти статьи
            </button></div>
        </div>
    </form>

<style>
    .form-container {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    h2 {
        text-align: center;
        color: #333;
    }
    a {
        text-align: center;
    }
    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }
    .form-group label {
        margin-bottom: 5 px;
        font-weight: bold;
        color: #333;
    }
    .checkbox-group {
        display: flex;
        align-items: center;
    }
    .checkbox-group label {
        margin-left: 5px;
        font-weight: normal;
    }
    .btn.btn-outline-danger {
        margin-top: 30 px !important;
    }
    .btn:hover {
        background-color: #BD0039;
    }
</style>

{% endblock %}
