{% extends "layout.html" %}

{% block content %}
<form action="/process/file" method="POST" enctype="multipart/form-data" class="form-container" style="width: 80%;">
    <label for="file-input" class="form-label">
        Загрузить собранную базу (.xlsx):
        <input type="file" id="file-input" class="form-control" name="file">
    </label>

    <h2>Запрос к базе</h2>
    <p>Выведи <input style="width: 50px" type="number" min="1" name="number" required> статей наиболее упоминаемых авторов по запросу</p>
    <div class="checkbox-group">
        <label>Выведи разделы:</label>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Abstract">
                Abstract
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Keywords">
                Keywords
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Introduction">
                Introduction
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="References">
                References
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Discussion">
                Discussion
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Conclusion">
                Conclusion
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Methods">
                Methods
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Results">
                Results
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="section" value="Full">
                Full
            </label>
        </div>
    </div>
    <div class="checkbox-group">
        <label>С упоминанием методов: (опционально)</label>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" name="method" value="DSEM">
                DSEM
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="method" value="IK">
                IK
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="method" value="XRD">
                XRD
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="method" value="NMR">
                NMR
            </label>
            <label class="checkbox-label">
                <input type="checkbox" name="method" value="All">
                All
            </label>
        </div>
    </div>
    <div class="form-group">
        <button id="process-btn" class="btn-custom" type="submit" style="width: 30%">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 18 18">
                <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"></path>
                <path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"></path>
            </svg>
            Выполнить запрос к базе
        </button>
    </div>
</form>
{% endblock %}